head
  title Millenial Albers
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexboxgrid/css/flexboxgrid.min.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
  script(src='node_modules/d3/build/d3.min.js')
  script(src='node_modules/d3-array/build/d3-array.min.js')
  script(src='node_modules/d3-transition/build/d3-transition.min.js')
  script(src='node_modules/d3-scale/build/d3-scale.min.js')
body
  section
    h1 Albers as a Millenial
  section
    .canvas#homage

  script(src='javascripts/homage.js')
