head
  title Millenial Albers
  link(href='node_modules/normalize.css/normalize.css' rel='stylesheet' type='text/css')
  link(href='node_modules/flexboxgrid/css/flexboxgrid.min.css' rel='stylesheet' type='text/css')
  link(href='style.css' rel='stylesheet' type='text/css')
  script(src='node_modules/d3/build/d3.min.js')
  script(src='node_modules/d3-array/build/d3-array.min.js')
  script(src='node_modules/d3-transition/build/d3-transition.min.js')
  script(src='node_modules/d3-scale/build/d3-scale.min.js')
body
  section
    h1 Albers as a Millenial
  section
    .row
      .col-xs-12.col-md-6
        .canvas#homage
      .col-xs-12.col-md-6
        h2 Homage to the Square
        h3 Josef Albers
  section
    .row
      .col-xs-12.col-md-6
        .canvas#movement
      .col-xs-12.col-md-6
        h2 Camino Real
        h3 Anni Albers
  
  script(src='javascripts/homage.js')
  script(src='javascripts/movement.js')
