body {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  padding: 0;
}

section {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 20px;
}

p {

}

.canvas {
  width: 100%;
}

section.homage {
  .swatch {
    width: 20px;
    height: 20px;
  }
}

input[type='number'],
input[type='text'] {
  padding: 0.5em;
}
