$dark-grey: hsl(0, 0, 10%);
$medium-grey: hsl(0, 0, 30%);
$light-grey: hsl(0, 0, 70%);
$border-color: hsl(0, 0, 90%);

$h1: 3rem;
$h2: 1.5rem;
$h3: 1rem;

$regular-weight: 400;
$bold-weight: 500;

$border-radius: 5px;

// Layout

body {
  font-family: -apple-system, 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  color: $medium-grey;
}

section {
  max-width: 1400px;
  min-height: 80vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

section:last-of-type {
  padding-bottom: 8rem;
}

// Typography
h1,
h2,
h3 {
  line-height: 1.4;
}

h1,
h2 {
  color: $dark-grey;
}

h1 {
  font-size: $h1 * .6;
  font-weight: $regular-weight;
}

h2 {
  font-size: $h2 * .75;
  font-weight: $bold-weight;
  margin-top: 0;
}

h3 {
  color: $light-grey;
  font-size: $h3 * .75;
  font-weight: $bold-weight;
  margin-top: 0;
  margin-bottom: .5em;
}

// Controls
.controls {
  padding-top: 4em;
  width: 100%;
  margin: 0 auto;
}

table {
  margin-top: 1.5em;
  width: 100%;
  th {
    color: $light-grey;
    padding: 0.5em;
    text-align: left;
  }
  td {
    padding: 0.25em 0;
  }
}

.swatch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

input[type='number'],
input[type='text'] {
  border-radius: $border-radius;
  border: 1px solid $border-color;
  color: $medium-grey;
  padding: 0.5em;
  transition: all 100ms ease-in-out;
  width: 100%;
}

input[type='number']:hover,
input[type='text']:hover,
input[type='number']:focus,
input[type='text']:focus {
  border-color: $light-grey;
  outline: none;
}

input[type='radio'] {
  margin-right: .3em;
}

a.black {
  color: $dark-grey;
  text-decoration: none;
}

a.black:hover {
  text-decoration: underline;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
}

a.button {
  color: $dark-grey;
  text-decoration: none;
  margin-top: 1em;
  margin-right: 3em;
}

button,
a.button {
  background: transparent;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  font-weight: $bold-weight;
  padding: .9em 1.5em;
  transition: all 100ms ease-in-out;
}

button:hover,
a.button:hover {
  cursor: pointer;
  border-color: $light-grey;
}

button:focus,
a.button:focus {
  border-color: $light-grey;
  outline:0;
}

hr {
  border: none;
  border-top: 2px solid $light-grey;
  margin-left: 0;
  width: 40px;
}

@media (min-width: 500px) {
  h1 {
    font-size: $h1;
  }

  h2 {
    font-size: $h2;
  }

  h3 {
    font-size: $h3;
  }

  .controls {
    max-width: 300px;
  }

  section {
    padding: 4rem;
  }

  table {
    width: auto;
  }
}

@media (min-width: 990px) {
  section {
    padding: 6rem;
  }
}
